<?xml version="1.0"?>
<config 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="redscript" translate="label" sortOrder="10">
            <label>RedScript</label>
        </tab>
 
        <section 
            id="redscript_erpnext" 
            translate="label" 
            type="text" 
            sortOrder="10" 
            showInDefault="1" 
            showInWebsite="1" 
            showInStore="1">
            <label>ERPNext</label>
            <tab>redscript</tab>
            <resource>Redscript_Erpnext::redscript_erpnext</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>API</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Enable ERPNext Configuration
                    </comment>
                </field>
                <field
                    id="host"
                    translate="label"
                    type="text"
                    sortOrder="20"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1">
                    <label>Host</label>
                </field>
                <field
                    id="username"
                    translate="label"
                    type="text"
                    sortOrder="20"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1">
                    <label>Username</label>
                </field>
                <field
                    id="password"
                    translate="label"
                    type="password"
                    sortOrder="20"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1">
                    <label>Password</label>
                </field>
            </group>
        </section>
    </system>
</config>